In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./dataset/MLS.csv')
df.describe()

,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange
count,5076.000000,5.076000e+03,5076.000000,5076.000000,5.076000e+03,5075.000000,4949.000000,4.949000e+03,4951.000000,3803.000000,3.803000e+03,3804.000000,4010.000000,4.010000e+03,4008.000000
mean,244.871592,7.720499e+05,10.222695,246.021277,9.481001e+05,9.329878,247.290139,7.182842e+05,9.311238,245.168393,5.829440e+05,9.466312,236.428279,4.838220e+05,11.521093
std,41.374120,2.725882e+05,9.186082,41.829704,3.765865e+05,10.411804,43.124667,2.433777e+05,10.105563,55.364090,2.212504e+05,14.473397,52.340839,1.457593e+05,9.079515
min,135.000000,2.570000e+05,-19.580000,126.000000,2.591000e+05,-21.320000,137.200000,2.733000e+05,-100.000000,0.000000,0.000000e+00,-100.000000,106.000000,1.714000e+05,-10.600000
25%,217.600000,5.890000e+05,4.380000,220.300000,6.822000e+05,2.245000,220.700000,5.429000e+05,2.715000,210.500000,4.394500e+05,4.080000,196.625000,3.819250e+05,5.640000
50%,247.100000,7.265000e+05,9.390000,246.700000,8.734500e+05,8.540000,246.700000,6.716000e+05,8.760000,246.400000,5.550000e+05,9.630000,239.600000,4.776000e+05,9.740000
75%,270.500000,9.033000e+05,15.382500,272.000000,1.137150e+06,15.715000,269.900000,8.399000e+05,15.370000,278.300000,6.731000e+05,15.602500,272.200000,5.692500e+05,15.290000
max,409.900000,2.162900e+06,46.780000,415.600000,2.536900e+06,49.100000,709.000000,1.677200e+06,43.710000,466.800000,1.750500e+06,56.490000,395.300000,1.005500e+06,64.320000

In [4]:
df.head()

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange,Date
0,Adjala-Tosorontio,143.7,510000.0,12.00,143.7,510000.0,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-01
1,Adjala-Tosorontio,140.8,499700.0,13.82,140.8,499700.0,13.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-01
2,Adjala-Tosorontio,142.7,506400.0,15.83,142.7,506400.0,15.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-01
3,Adjala-Tosorontio,138.4,491100.0,11.08,138.4,491100.0,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-01
4,Adjala-Tosorontio,145.4,516000.0,16.51,145.4,516000.0,16.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01

In [5]:
df.tail()

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange,Date
5086,York Region,287.0,970300.0,11.76,292.0,1112000.0,12.65,293.2,847300.0,12.73,271.3,704100.0,11.28,252.2,562700.0,6.91,2020-11-01
5087,York Region,289.5,978700.0,12.56,295.2,1124200.0,13.89,296.3,856200.0,13.66,270.4,701800.0,10.28,253.2,564900.0,6.84,2020-12-01
5088,York Region,294.9,997000.0,13.34,301.7,1148900.0,15.20,302.9,875300.0,14.78,272.6,707500.0,10.14,254.7,568200.0,5.86,2021-01-01
5089,York Region,309.9,1047700.0,17.16,318.6,1213300.0,20.23,322.6,932200.0,20.15,280.7,728500.0,11.04,260.2,580500.0,5.39,2021-02-01
5090,York Region,324.1,1095700.0,19.82,334.4,1273400.0,23.49,337.2,974400.0,22.48,294.0,763000.0,14.75,268.7,599500.0,6.00,2021-03-01

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5091 entries, 0 to 5090
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           5091 non-null   object
 1   CompIndex          5076 non-null   float64
 2   CompBenchmark      5076 non-null   float64
 3   CompYoYChange      5076 non-null   float64
 4   SFDetachIndex      5076 non-null   float64
 5   SFDetachBenchmark  5076 non-null   float64
 6   SFDetachYoYChange  5075 non-null   float64
 7   SFAttachIndex      4949 non-null   float64
 8   SFAttachBenchmark  4949 non-null   float64
 9   SFAttachYoYChange  4951 non-null   float64
 10  THouseIndex        3803 non-null   float64
 11  THouseBenchmark    3803 non-null   float64
 12  THouseYoYChange    3804 non-null   float64
 13  ApartIndex         4010 non-null   float64
 14  ApartBenchmark     4010 non-null   float64
 15  ApartYoYChange     4008 non-null   float64
 16  Date               5091 non-null   object
dtypes: float64(15), object(2)
memory usage: 676.3+ KB